    body{
        background-image: linear-gradient(to right, #1C1C39, #434388); 
        background-size: 100% 100%;
        overflow-y: none;
        margin: 0;
}
    h2{
        font-size: 20pt;
        margin-bottom: 30%;
        top: 10%;
        position: relative;
}
    p{
        position: relative;
        justify-content:center;
        text-align: justify;
        margin-left: 80px;
        margin-right: 80px;
        font-size: 14pt;
}
    button{
        position: relative;
        top: 17%;
        text-align: center;
        background-color: rgb(255, 115, 0);
        color: rgb(253, 0, 127);
        font-size: 14pt;
        width: 40%;
        height: 5%;
        border-radius: 15px;
        animation: CorBack 5s infinite alternate;
}
    .Center{
        position: relative; 
        top: 80%; 
        left: 50%; 
        transform: translate(-50%, 25%);
        width: 27%;
        background-color: white;
        text-align: center;
        border: none;
        height: 60vh;
}
    .Container{
        text-align: center;
}
    @keyframes CorBack{
        0% { background-color: rgb(255, 115, 0); }
        50% { background-color: rgb(112, 236, 29); }
        75% { background-color: yellow; }
}
    @media (max-width: 1240px){
        .Center{
            width: 40%;
        }
}
    @media (max-width: 710px){
        .Center{
            width: 60%;
        }
}
    @media (max-width: 580px){
        button{
            top: 10%;
    }
}
    @media (max-width: 510px){
        .Center{
            width: 60%;
    }
        p{
            margin-left: 70px;
            margin-right: 70px;
    }
        bottom{
            position: relative;
            top: 10%;
    }
}
    @media (max-width: 510px){
        .Center{
            width: 60%;
    }
        p{
            margin-left: 40px;
            margin-right: 40px;
            top: 4%;
    }
        bottom{
            position: relative;
            top: 10%;
    }
}
    @media (max-width: 510px){
        .Center{
            width: 65%;
    }
        p{
            margin-left: 10px;
            margin-right: 10px;
    }
        bottom{
            position: relative;
            top: 10%;
    }
}
    @media (max-height: 800px){
        button{
            height: 8%;
            top: 10%;
        }
}
    @media (max-height: 800px){
        h2{
            margin-bottom: 20%;
    }
        button{
            height: 8%;
            top: 6%;
    }
} 
    @media (min-width: 912px) and (min-height: 1366px){
        p{
            font-size: 20pt;
    }
}
    @media (max-width: 320px) and (max-height: 480px){
        p{
            font-size: 9pt;
    }
        button{
            font-size: 10pt;
    }
}